# Chapter 6: Loading and Wrangling Data with Pandas and NumPy

**Sources**
- [chinook](https://github.com/lerocha/chinook-database)
- [Packt Github](https://github.com/PacktPublishing/Practical-Data-Science-with-Python/tree/main/4-Chapter-4/data)

**How to read CSV file into dataframe with pandas**

In [1]:
import pandas as pd
csv_df = pd.read_csv('data/itunes_data.csv')
csv_df.head()

,Track,Composer,Milliseconds,Bytes,UnitPrice,Genre,Album,Artist
0,For Those About To Rock (We Salute You),"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,Rock,For Those About To Rock We Salute You,AC/DC
1,Put The Finger On You,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99,Rock,For Those About To Rock We Salute You,AC/DC
2,Let's Get It Up,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99,Rock,For Those About To Rock We Salute You,AC/DC
3,Inject The Venom,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99,Rock,For Those About To Rock We Salute You,AC/DC
4,Snowballed,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99,Rock,For Those About To Rock We Salute You,AC/DC

**How to read `.db` file into dataframe with pandas**

In [12]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///data/chinook.db')

query = """
SELECT 
    tracks.name as Track,
    tracks.composer,
    tracks.milliseconds,
    tracks.unitprice,
    genres.name as Genre,
    albums.title as Album,
    artists.name as Artist
FROM tracks
    JOIN genres ON tracks.genreid = genres.genreid
    JOIN albums ON tracks.albumid = albums.albumid
    JOIN artists ON albums.artistid = artists.artistid;
"""

with engine.connect() as conn:
    sql_df = pd.read_sql_query(query, conn)
    # T = transpose, meaning it'll switche rows and columns
    #   which is useful for dataframes with a lot of columns

sql_df.head(2).T

,0,1
Track,For Those About To Rock (We Salute You),Put The Finger On You
Composer,"Angus Young, Malcolm Young, Brian Johnson","Angus Young, Malcolm Young, Brian Johnson"
Milliseconds,343719,205662
UnitPrice,0.99,0.99
Genre,Rock,Rock
Album,For Those About To Rock We Salute You,For Those About To Rock We Salute You
Artist,AC/DC,AC/DC

**How to read data from excel into dataframe with Pandas**

In [14]:
excel_df = pd.read_excel('data/itunes_data.xlsx')
excel_df.head()

,Track,Composer,Milliseconds,Bytes,UnitPrice,Genre,Album,Artist
0,My Time After Awhile,Robert Geddins/Ron Badger/Sheldon Feinberg,182491,6022698,0.99,Blues,The Best Of Buddy Guy - The Millenium Collection,Buddy Guy
1,Be Quick Or Be Dead,Bruce Dickinson/Janick Gers,204512,8181888,0.99,Rock,Fear Of The Dark,Iron Maiden
2,Água E Fogo,Chico Amaral/Edgard Scandurra/Samuel Rosa,278987,9272272,0.99,Rock,Maquinarama,Skank
3,Ozone Baby,"Jimmy Page, Robert Plant",215954,7079588,0.99,Rock,Coda,Led Zeppelin
4,Bop Boogie,NaN,189596,6093124,0.99,Jazz,Up An' Atom,Gene Krupa